rbr_source_cluster: refresh_primary

schema_tracker_cluster: repltracker

rbr_state_cluster: replhandler

register_dry_run: True

publish_dry_run: True

topology_path: topology.yaml

changelog_schemaname: changelog.v2

changelog_mode: False

schema_blacklist:
    - information_schema
    - mysql
    - performance_schema
    - test

producer_name: replication_handler

team_name: bam

zookeeper_discovery_path: '/nail/etc/zookeeper_discovery/generic/uswest2{ecosystem}.yaml'

pii_yaml_path: '/nail/etc/services/database_pii'

max_delay_allowed_in_seconds: 600

sensu_host: 169.254.255.254

disable_sensu: False

disable_meteorite: False

recovery_queue_size: 1500

namespace: dev

container_name: none

container_env: raw

force_exit: False

module_config:
    -   namespace: yelp_conn
        file: /nail/srv/configs/yelp_conn_generic.yaml
        config:
            connection_set_file: connection_sets.yaml

            connection_wrappers:
                - yelp_conn.sqllogger.LoggingConnectionWrapper
                - yelp_conn.wrappers.AnnotatingConnectionWrapper

            query_logging_listeners:
                - ['yelp_conn.sqllogger.ClogCursorListener', 'tmp_query_log']

            # Log queries to all listeners in `query_logging_listeners`
            enable_query_logging: True
            # Print queries to stdout
            enable_query_printing: True

            db:
                db_pool_listeners:
                    - yelp_conn.engine.DisconnectedPoolListener

    -   namespace: clog
        config:
            log_stream_name: tmp_replication_handler_logs
            # Works around https://bitbucket.org/pypy/pypy/issues/2280
            scribe_errors_to_syslog: false
        file: /nail/srv/configs/clog.yaml

    - namespace: smartstack_services
      file: /nail/etc/services/services.yaml

    - namespace: data_pipeline
      config:
        load_schematizer_host_and_port_from_smartstack: True
