# If there are tools that a developer needs to work on your project.
# Unit testing tools, mocking frameworks, debuggers, proxies, ...
# These will be used for tox and other testing environments.
-r requirements.txt
ipdb
coverage
flake8
ipython<2.0.0
mock
pytest
