# Need this because mysql-replication on internal pypi is old.
# Since it is a hit, no fallback to python's pypi happens
--extra-index-url https://pypi.python.org/pypi
-e .
MySQL-python==1.2.5
PyMySQL==0.6.3
PyStaticConfiguration==0.8.0
PyYAML==3.11
SQLAlchemy==0.9.8
avro==1.7.6
boto==2.36.0
contextdecorator==0.10.0
data_pipeline
dateglob==0.1
enum34==1.0.4
future==0.14.3
geogrid==1.0.8
ipaddress==1.0.14
iso8601==0.1.10
kafka-python==0.9.4
kazoo==2.2
mccabe==0.3.1
mrjob==0.4.3.post7
-e git://github.com/cccc1999/python-mysql-replication.git#egg=mysql-replication
pep8==1.5.7
pii_generator==0.1.3
ply==3.4
py==1.4.26
pycrypto==2.6.1
pyflakes==0.8.1
pyramid-yelp-conn==0.4.1
pysubnettree==0.23
python-dateutil==2.4.2
pytz==2014.10
requests==2.5.1
send-nsca==0.1.4.1
setproctitle==1.1.8
simplejson==3.6.5
six==1.9.0
thriftpy==0.1.15
wheel==0.24.0
wsgiref==0.1.2
yelp-batch==0.11.4
yelp-cgeom==1.3.1
yelp-clog==2.1.4
yelp-conn==4.6.1
yelp-lib==10.0.5
yelp-logging==1.1.2
yelp_kafka==3.3.11
yelp-servlib==4.3.0
