[mysqld]
skip-external-locking
max-allowed-packet              = 16M
sync-binlog                     = 0
log-bin                         = /var/lib/mysql/mysql-bin.log

log-warnings                    = 1
log-warnings-suppress           = 1592

innodb-file-format              = Barracuda
innodb-file-per-table           = TRUE
innodb-flush-log-at-trx-commit  = 0
innodb-buffer-pool-size         = 128M
innodb-fast-shutdown            = 0
binlog-format                   = row
log_slave_updates

# GTID specific, needs version 5.6 of percona/mysql
enforce_gtid_consistency
gtid_mode = ON

# DNS resolution can cause significant delays in connecting to the server
skip-name-resolve
